# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Python
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Deployment packages
*.zip