# Terraform
.terraform/
*.tfstate
*.tfstate.*


# Python
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Deployment packages
*.zip

request*.json
response*.json